hoist=false
link-workspace-packages=deep

# Smart Contracts
public-hoist-pattern[]='hardhat'
public-hoist-pattern[]='@ethersproject/*'

# Inconsistencies in versions sometimes (prefer syncpack but this is an escape hatch)
public-hoist-pattern[]='viem'
public-hoist-pattern[]='@viem/viem'
public-hoist-pattern[]='wagmi'
public-hoist-pattern[]='@wagmi/*'
public-hoist-pattern[]='@rainbow-me/*'

# Circles
# public-hoist-pattern[]='@circles-sdk/*'
# public-hoist-pattern[]='ethers'

# Lint
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'

# Zapier
# public-hoist-pattern[]='zapier-platform-core'
# public-hoist-pattern[]='zapier-platform-cli'
public-hoist-pattern[]="@oclif/*"

# React
public-hoist-pattern[]='react'
public-hoist-pattern[]='react-dom'
public-hoist-pattern[]='@types/react'
public-hoist-pattern[]='@types/react-dom'
public-hoist-pattern[]='lit-html'

# Firebase
public-hoist-pattern[]='firebase'
public-hoist-pattern[]='firebase-*'
public-hoist-pattern[]='@firebase/*'

# Telegram
public-hoist-pattern[]='@grammyjs/*'
