hoist=false
link-workspace-packages=deep

# Smart Contracts
public-hoist-pattern[]='hardhat'
public-hoist-pattern[]='@ethersproject/*'

# Lint
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'
