@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --warning: 38 92% 50%;
        --warning-foreground: 48 96% 89%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        /* increased contrast for border and input this slightly from defaults */
        --border: 240 5.9% 75%;
        --input: 240 5.9% 80%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --header: 240 6% 9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --warning: 48 96% 89%;
        --warning-foreground: 38 92% 20%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        /* increased contrast for border and input this slightly from defaults */
        --border: 240 3.7% 25%;
        --input: 240 3.7% 30%;
        --ring: 240 4.9% 83.9%;
    }

    * {
        @apply border-border;
    }
    body {
        height: 100vh;
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #2c2c2d;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #000000;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #2c2c2d;
    }

    /* For Firefox */
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #000000 #2c2c2d;
    }
}

.ProgressRoot {
    position: relative;
    overflow: hidden;
    background: #333;
    border-radius: 99999px;
    width: 800px;
    height: 25px;

    /* Fix overflow clipping in Safari */
    /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
    transform: translateZ(0);
}

.ProgressIndicator {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

/* Tables should be only for data and be consistent - TODO: change default table padding via tailwind */
table td,
table th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

table td:first-child,
table th:first-child {
    padding-left: 16px;
}

table td:last-child,
table th:last-child {
    padding-right: 16px;
}
